/*Modelo de caja - Es un concepto fundamental*/
/*Es un concepto fundamental en css que describen como se calculan
las dimesiones y el espacio ocupado por los elementos de la pagina web.*/
.foto-perfil{
    width: 100px; /*ancho del contenido*/
    height: 100px; /*alto del contenido*/
    padding-top: 10px;/*espacio entre el contenido y el borde*/
    margin: 10px;/*espacio entre el borde y otros elemento*/
    /*en el borde se incluye el grosor, tipo de la linea y color*/
    /*border: 2px solid rgb(177, 195, 216);*/ 
    border-radius: 50px;
}
/*en muchos estilos cuando el elemento es una caja, si no le aclaro de que 
lado quiero el borde, lo hara en los 4 lados tanto como en los bordes y 
los margenes. si le aclaras, usaras el que le aclares*/

.contenedor-lista{

    display: flex;
    gap: 30px; /*Espacio entre los elementos*/
    padding: 50;
}

.botones-header{
    border: 2px solid #b3ced4;
    background-color: #28386e;
    gap: 10px;
    height: 50px;
    width: 150px;
    border-radius: 15px;

}
.botones-header:hover{
    background-color: #b3ced4;
    cursor: default;
    

}

.nombreHeader{
    color: white;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.contacto{
    size: 50px;
    color: #707ea5;
    font: italic;
}

.estiloHeader{
    display: flex;
    justify-content: space-between;
    background-color: #28386e;
}

li{
    list-style: none; /*Elimina los elementos de la lista*/
}
