html{
    scroll-behavior: smooth;
}

.estiloHeader{
    display: flex;
    background-color: #442D1C;
    padding-top: 5px;
    padding-bottom: 15px;

}

.estiloMain{
    background-color: #84592B;

    
}

.estiloTitulo{
    justify-content: space-around;
    margin: 10px;
    color: white;
    font-style: italic;
    
}

.estiloForm{
    margin: 10px;
    color: #442D1C;
    padding-top: 5px;
    padding-bottom: 15px;
}

.estiloImg{
    width: auto;
    height: 100px;
    margin: 10px;
    padding-top: 15px;
}